/* Les parties principales */
header, footer, .defile, .semiheader {
  background-color: white;
  margin: none;
}

header {
  padding-top: 7%;
  padding-bottom: 5%;
  padding-left: 3%;
}

.semiheader {
  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 3%;
}

body {
  z-index: 0;
  margin: 0px;
}

footer {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
}

/* Le menu burger */

.topnav {
  overflow: hidden;
  text-align: center;
}

.topnav #burger {
  display: none;
}

.topnav a {
  color: #303030;
  padding: 14px 16px;
  font-size: 25px;
}

.topnav a.icon {
  z-index: 9;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
}

.active {
  z-index: 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 20%;
  right: 0.5rem;
  top: 0.5rem;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 15px;
  box-shadow: 0 0 1rem hsl(0, 0%, 75%);
}

/* Les balises de texte */

h1, h2, h3 {
  text-align: left;
  color: #303030;
}

h1 {
  font-size: 67px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  font-family: verdana;
  font-size: 17px;
}

a {
  font-family: verdana;
  font-size: 17px;
  color: #303030;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
			clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

/* Les boutons */

button {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  border: none;
  color: #303030;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Les balises boîtes */

.boite_milieu, .boite_gauche, .boite_droite {
  display: flex;
  background-color: white;
  border-radius: 15px;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
  flex-direction: column;
}

.boite_milieu {
  margin: auto;
}

.boite_gauche {
  width: 60%;
}

.boite_droite {
  width: 60%;
  margin-left: 36%;
}

/* Les icones dans les boites */
.icones {
  display: flex;
  flex-wrap: wrap;
}

.boite_footer {
  display: flex;
  flex-direction: row;
  margin-bottom: 0%;
}

.navigation, .contact {
  margin:auto;
  display: flex;
  flex-direction: column;
}

.inner {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

.defile {
  z-index: 1;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  display: flex;
  position: sticky;
  top:0%;
}

html { scroll-behavior: smooth; }

/* Le carousel */

.slider {
  margin: auto;
  width: 400px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: #B4E4F8;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent; 
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 400px;
  height: 400px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  
}

.carrousel img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0.5rem 0 0 0;
  position: relative;
}

.slider > a:active {
  top: 1px;
}

.slider > a:hover {
  background: #B4E4F8;
}
