.div-boite-centre {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 75px 500px 75px  500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
    gap: 20px;
}

.div-en-ligne {
    display: flex;
    align-items: center;
    gap: 20px;
}