@font-face { font-family: 'Raleway'; src: url('../font/Raleway-Medium.ttf'); }
@font-face { font-family: 'Raleway'; font-style: italic; src: url('../font/Raleway-MediumItalic.ttf');}
@font-face { font-family: 'Raleway'; font-weight: bold; src: url('../font/Raleway-Bold.ttf');}

/* Les parties principales */
html {
  font-family: 'Raleway';
}

header, footer, .div-boutons-defile, .div-semiheader {
  background-color: white;
  margin: none;
}

header, .div-semiheader{
  padding: 3%;
}

.div-semiheader{
  margin-top: 5%;
}

body {
  z-index: 0;
  margin: 0px;
}

footer {
  margin-top: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
}

/* Le menu burger */

.topnav {
  overflow: hidden;
  text-align: center;
}

.topnav #burger {
  display: none;
}

.topnav a {
  color: #303030;
  padding: 14px 16px;
  font-size: 25px;
}

.topnav a.icon {
  z-index: 9;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
}

.active {
  z-index: 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 20%;
  right: 0.5rem;
  top: 0.5rem;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 15px;
  box-shadow: 0 0 1rem hsl(0, 0%, 75%);
}

/* Les balises de texte */

h1, h2, h3, h4{
  text-align: left;
  color: #303030;
}

h1 {
  font-size: 67px;
}

h2 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 40px;
}
/* 
.div-boite-duo h2 {
  margin-top: 0%;
} */

h3 {
  font-size: 20px;
}

.div-titre-date h3 {
  margin: 0%; 
  margin-right: 15px;
}

h4 {
  font-size: 17px;
  font-weight: normal;
}

.div-titre-date h4 {
  margin: 2px;
}

p {
  font-size: 17px;
}

a {
  font-size: 17px;
  color: #303030;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
			clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

/* Les boutons */

button {
  font-family: 'Raleway';
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  border: none;
  color: #303030;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

button:hover {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Les balises boîtes */

.div-boite-milieu, .div-boite-gauche, .div-boite-droite, .div-boite-duo {
  display: flex;
  background-color: white;
  border-radius: 15px;
  margin-top: 5%;
  padding: 2%;
}

.div-boite-milieu, .div-boite-gauche, .div-boite-droite{
  width: 70%
}

.div-boite-milieu {
  margin-left: 15%;
}

.div-boite-droite {
  margin-left: 26%;
}

/* Les icones dans les boites */
.div-icones-boites {
  display: flex;
  flex-wrap: wrap;
}

.div-boites-duo {
  display: flex;
  flex-direction: row;
  margin-left: 7%;
  margin-right: 7%;
  justify-content: space-between;
}

.div-boite-duo {
  width: 40%;
  text-align: center;
}

.div-titre-date {
  display: flex; flex-direction: row; 
}

.div-boite-footer {
  display: flex;
  flex-direction: row;
  margin-bottom: 0%;
}

.div-navigation, .div-contact {
  margin:auto;
  display: flex;
  flex-direction: column;
}

.div-inner {
  margin-right: 150px;
  margin-left: 80px;
}

.div-contenu {
  margin: 3%;
}

.div-boutons-defile {
  z-index: 1;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  display: flex;
  position: sticky;
  top:0%;
  align-items: left;
}

html { scroll-behavior: smooth; }

/* Les images */

.img-rond, .img-carre {
  height: 250px;
  width: 250px;
  margin: 3%;
}

.img-rond, .img-rond-petit, .img-rond-moyen {
  border-radius: 50%;
}

.img-rond-petit {
  height: 75px;
  width: 75px;
  margin: 3%;
}

.img-rond-moyen {
  height: 100px;
  width: 100px;
  margin: 3%;
}

/* Le carrousel */

.slider {
  margin: auto;
  margin-top: 5%;
  width: 400px;
  text-align: center;
  overflow: hidden;
}

.slider-petit {
  margin: auto;
  margin-top: 5%;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: #B4E4F8;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent; 
}

.slides .div-grand-carrousel, .slides .div-petit-carrousel {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 400px;
  height: 400px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.slides .div-petit-carrousel {
  width: 250px;
  height: 250px;
}

.div-grand-carrousel img, .div-petit-carrousel img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.slider > a, .slider-petit > a{
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0.5rem 0 0 0;
  position: relative;
}

.slider-petit > a {
  background: #B4E4F8;
}

.slider > a:active, .slider-petit > a:active {
  top: 1px;
}

.slider > a:hover {
  background: #B4E4F8;
}

.slider-petit > a:hover {
  background: #E7C8F9;
}