html {
  --php-color: #223462;
  --sql-color: #6DB367;
  --html-color: #E3ABE9;
  --css-color: #bedee5;
  --cpp-color: #354c85;
  --python-color: #C1C858;
  --javascript-color: #fbeb3e;
  --java-color: #75B6C3;
  --uml-color: #EB8A90;
  --angular-color: #741f96;
  --graphql-color: #d462e8;
}

.img-projet {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

.bouton-filtre {
  width: auto;
  padding: 10px 20px;
}

.div-filtres {
  width: 90%;
}

.bouton-filtre:hover, .selected:hover {
  cursor: pointer;
  border: solid;
  border-color: var(--secondary-color);
}

.selected {
  background-color: var(--secondary-color);
}

.div-tags {
  display: flex;
  flex-wrap: wrap;
}

.tag-langage {
  width: auto;
  margin: 5px;
  padding: 6px;
  border: solid;
  border-radius: 20px;

  &.tag-PHP, &.tag-Symfony {
    border-color: var(--php-color);
  } &.tag-Java {
    border-color: var(--java-color);
  } &.tag-Python {
    border-color: var(--python-color);
  } &.tag-C\+\+ {
    border-color: var(--cpp-color);
  } &.tag-C\# {
    border-color: var(--cpp-color);
  } &.tag-UML {
    border-color: var(--uml-color);
  } &.tag-JavaScript {
    border-color: var(--javascript-color);
  } &.tag-TypeScript {
    border-color: var(--javascript-color);
  } &.tag-Angular {
    border-color: var(--angular-color);
  } &.tag-Tailwind {
    border-color: var(--angular-color);
  } &.tag-GraphQl {
    border-color: var(--graphql-color);
  } &.tag-HTML {
    border-color: var(--html-color);
  } &.tag-CSS {
    border-color: var(--css-color);
  } &.tag-SQL {
    border-color: var(--sql-color);
  }

}